:root {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  --cell-size: 10vmin;
}

.app {
  display: flex;
  margin-block: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(var(--cell-size) * 8);
  height: calc(var(--cell-size) * 8);
  display: flex;
  flex-wrap: wrap;
}